<p>Please choose your time that you would like to work</p>
<div id="check">
  <input type="checkbox" id="Thur-8.00-17.00" value="Thur-8.00-17.00" v-model="checkedTime" />
  <label for="Thur-8.00-17.00">Thursday-8.00-17.00</label>
  <input type="checkbox" id="Fri-8.00-17.00" value="Fri-8.00-17.00" v-model="checkedTime" />
  <label for="Fri-8.00-17.00">Friday-8.00-17.00</label>
  <input type="checkbox" id="Sat-8.00-19.00" value="Sat-8.00-19.00" v-model="checkedTime" />
  <label for="Sat-8.00-19.00">Saturday-8.00-17.00</label>
  <br />
  <span>Checked time: {{ checkedTime }}</span>
  <p id="app"></p>
  </div>
